[Unit]
Description=OsBox  service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=forking
PIDFile=/run/swoole.pid
ExecStart=/usr/local/osbox/bin/osbox-service.sh
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy = multi-user.target
