[Unit]
Description=OsBox service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=forking
Restart=always
RestartSec=10
User=root
ExecStart=/usr/local/osbox/osbox-service
TasksMax=100
[Install]
WantedBy=multi-user.target
