[Unit]
Description=OsBox scheduler service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=10
User=root
ExecStart=/root/standalone/osbox-scheduler

[Install]
WantedBy=multi-user.target