[Unit]
Description=osbox-installer-service
After=network.target
StartLimitIntervalSec=10K

[Service]
Type=simple
PIDFile=/run/osbox-installer
Restart=always
RestartSec=30
User=root
TimeoutSec=300
ExecStart=/usr/local/osbox/osbox-installer-service dev osbox >/dev/null 2>&1
TasksMax=100
[Install]
WantedBy=multi-user.target

