[Unit]
Description=OsBox updater service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=forking
PIDFile=/var/run/swoole.pid
ExecStart=/usr/bin/php /usr/local/osbox/project/sw-osbox-core/src/www/server.php
ExecStop=/bin/kill $MAINPID
ExecReload=/bin/kill -USR1 $MAINPID

[Install]
WantedBy = multi-user.target
