[Unit]
Description=OsBox updater service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=on-failure
RestartSec=17000
User=root
ExecStart=/usr/local/osbox/osbox-updater-service
TasksMax=100
[Install]
WantedBy=multi-user.target
